.container {
  display: block;
  background-color: #f4e196;
  width: 600px;
  height: 100vh;
  overflow-y: scroll;
}

.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-self: center;
  flex-wrap: nowrap;
}
